.about {
  height: 100%;
  padding: 20px 40px 20px 60px;
  // background-color: aquamarine;
  &__img {
    background-image: url(/images/school.jpg);
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 30px;
  }
  &__header {
    text-decoration: none;
    font-size: 30px;
    color: black;
    padding-top: 30px;
  }

  &__top {
    font-size: 20px;
    height: 300px;
    display: flex;
    padding-top: 30px;
  }
  &__para1 {
    height: 100%;
    width: 50%;
    padding-right: 20px;
  }

  &__para2 {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .about {
    &__header {
      font-size: 20px;
    }

    &__top {
      font-size: 15px;
    }
  }
}
