footer {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Lato-Italic;
  font-size: 15px;
  margin-top: 159.7px;
  .left {
    margin-left: 40px;
  }
  .middle {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    width: 60%;
    .middle-links {
      text-overflow: overflow;
      text-decoration: none;
      color: black;
    }
  }
  .right {
    img {
      width: 19px;
      height: 19px;
      margin-right: 40px;
    }
  }
}

.footer-phone {
  display: none;
  flex-direction: column;
  width: 100%;
  font-size: 10px;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-left {
      margin-left: 20px;
    }
    .mobile-right {
      img {
        margin-right: 20px;
      }
    }
  }
  .mobile-middle {
    display: flex;
    padding-top: 5px;
    justify-content: space-evenly;
    width: 100%;
    .mobile-links {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 80%;
      .middle-links {
        width: 30%;
        text-align: center;
        text-decoration: none;
        color: black;
        white-space: nowrap;
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  footer {
    margin-top: 268px;
    font-size: 10px;
    .left {
      margin-left: 20px;
    }
    .right {
      img {
        margin-right: 20px;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  footer {
    display: none;
  }
  .footer-phone {
    display: flex;
  }
}
