.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 50px 0px 50px;
  // margin-top: ;

  .circle {
    width: 357.58px;
    height: 357.58px;
    position: absolute;
    align-items: center;
    justify-content: center;
    // margin-right: 100px;

    .little-circle {
      margin-left: 300px;
      width: 167.88px;
      height: 167.88px;
      background-color: #fcbcb8;
      border-radius: 150px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &__paragraph {
        position: relative;
        width: 105.76px;
        font-size: 10px;
        font-family: Lato-Italic;
      }
    }
    .big-circle {
      width: 357.58px;
      height: 357.58px;
      background-color: #ffd972;
      border-radius: 300px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      z-index: 1;
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      &__title {
        position: relative;
        font-size: 24px;
        font-family: Caveat-Bold;
      }
      &__paragraph {
        position: relative;
        width: 164px;
        font-size: 13px;
        font-family: Lato-Regular;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    margin-top: 20px;
    .circle {
      width: 357px;
      height: 453px;
      .little-circle {
        // height: 121.04px;
        // width: 121.04px;
        display: flex;
        // position: relative;
        margin-left: 150px;
      }
      .big-circle {
        width: 357.58px;
        height: 357.58px;
      }
    }
  }
}

@media only screen and (max-width: 366px) {
  .home {
    margin-top: 20px;
    .circle {
      height: 150px;
      width: 350px;
      position: absolute;
      .little-circle {
        height: 121.04px;
        width: 121.04px;
        display: flex;
        // position: relative;
        margin-left: 150px;
      }
      .big-circle {
        // position: absolute;
      }
    }
  }
}
