* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(242, 92, 84, 0.6),
      rgba(242, 92, 84, 0.6)
    ),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-Regular.ttf);
}

@font-face {
  font-family: Caveat-Bold;
  src: url(../fonts/Caveat-Bold.ttf);
}

@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttf);
}

@font-face {
  font-family: Gill-Italic;
  src: url(../fonts/GillSans-Italic.ttf);
}

@font-face {
  font-family: Gill-Light;
  src: url(../fonts/GillSans-Light.ttf);
}

// @font-face {
//   font-family: Lato-Regular;
//   src: url();
// }

// @font-face {
//   font-family: Lato-Italic;
//   src: url();
// }

#app {
  height: 80%;
}
