* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(242, 92, 84, 0.6)), to(rgba(242, 92, 84, 0.6))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: Caveat-Bold;
  src: url(../fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttf);
}
@font-face {
  font-family: Gill-Italic;
  src: url(../fonts/GillSans-Italic.ttf);
}
@font-face {
  font-family: Gill-Light;
  src: url(../fonts/GillSans-Light.ttf);
}
#app {
  height: 80%;
}

.home {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 50px 0px 50px;
}
.home .circle {
  width: 357.58px;
  height: 357.58px;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .circle .little-circle {
  margin-left: 300px;
  width: 167.88px;
  height: 167.88px;
  background-color: #fcbcb8;
  border-radius: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.home .circle .little-circle__paragraph {
  position: relative;
  width: 105.76px;
  font-size: 10px;
  font-family: Lato-Italic;
}
.home .circle .big-circle {
  width: 357.58px;
  height: 357.58px;
  background-color: #ffd972;
  border-radius: 300px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.home .circle .big-circle__title {
  position: relative;
  font-size: 24px;
  font-family: Caveat-Bold;
}
.home .circle .big-circle__paragraph {
  position: relative;
  width: 164px;
  font-size: 13px;
  font-family: Lato-Regular;
}

@media only screen and (max-width: 768px) {
  .home .circle-holder {
    width: 357px;
    height: 453px;
  }
}
@media only screen and (max-width: 360px) {
  .home .circle {
    width: 257.81px;
    height: 327.02px;
  }
  .home .circle .little-circle {
    height: 121.04px;
    width: 121.04px;
  }
  .home .circle .big-circle {
    height: 257.81px;
    width: 257.81px;
  }
}
nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Caveat;
  font-size: 25px;
}
nav .logo {
  background: url(../images/logo.svg);
  background-size: auto;
  background-repeat: no-repeat;
  width: 217px;
  height: 55px;
}
nav .nav-links {
  width: 30%;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-links a {
  text-decoration: none;
  color: black;
}
nav .login {
  width: 158px;
  height: 52px;
  border-radius: 80px;
  background-color: #ffd972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav i {
  display: none;
}

@media only screen and (max-width: 776px) {
  nav .nav-links {
    display: none;
  }
  nav i {
    display: block;
  }
}
footer {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato-Italic;
  font-size: 15px;
  margin-top: 159.7px;
}
footer .left {
  margin-left: 40px;
}
footer .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  width: 60%;
}
footer .middle .middle-links {
  text-overflow: overflow;
  text-decoration: none;
  color: black;
}
footer .right img {
  width: 19px;
  height: 19px;
  margin-right: 40px;
}

.footer-phone {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 10px;
}
.footer-phone .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-phone .top .mobile-left {
  margin-left: 20px;
}
.footer-phone .top .mobile-right img {
  margin-right: 20px;
}
.footer-phone .mobile-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
.footer-phone .mobile-middle .mobile-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}
.footer-phone .mobile-middle .mobile-links .middle-links {
  width: 30%;
  text-align: center;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

@media only screen and (max-width: 975px) {
  footer {
    margin-top: 268px;
    font-size: 10px;
  }
  footer .left {
    margin-left: 20px;
  }
  footer .right img {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 640px) {
  footer {
    display: none;
  }

  .footer-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}